.main__about {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.collapse__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 10%;
    padding-left: 10%;
}