/* disposition en grille pour mieux gérer les grandes listes de tag */
.tag__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 15px;

    & .tag {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #FF6060;
        border-radius: 10px;
        min-width: 115px;
        height: 25px;
        padding: 3px 10px 2px 10px;

        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
    }

}