body {
    max-width: 1440px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
}

h1,
h2,
h3,
p {
    font-family: Montserrat;
    color: #FF6060;
}